@inherits LayoutComponentBase

<div class="page">
    <nav>
        <h1>VadianVibes🔉</h1>
    </nav>

    <div class="greetingSection">
        <div class="greetingSectionMain">
            <h1>Wie möchtest du Dienstleistungen der Stadt St.Gallen suchen?</h1>
            <div class="actionOverview">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="section">
                        <AnalyzeMicrophoneComponent/>
                    </div>
                    <div class="section">

                    </div>
                    <div class="section">
                        <a href="/swagger/index.html">
                            <button>Per API</button>
                        </a>
                    </div>
                </div>  
            </div>
        </div>  
    </div>

    <main>
        @Body
    </main>
</div>
