@inherits LayoutComponentBase

<div class="page">
    <nav>
        <h1>VadianVibes🔉</h1>
        <div class="section">
            <a href="/swagger/index.html">
                <button>Entdecke unsere API</button>
            </a>
        </div>
    </nav>

    <div class="greetingSection">
        <div class="greetingSectionMain">
            <h1>Finde Dienstleistungen der Stadt St.Gallen per Spracheingabe!</h1>
            <div class="actionOverview">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="section">
                        <AnalyzeMicrophoneComponent/>
                    </div>
                </div>  
            </div>
        </div>  
    </div>

    <main>
        @Body
    </main>
</div>
