@inherits LayoutComponentBase

<div class="page">
    <nav>
        <h1>VadianVibes</h1>
    </nav>

    <div class="greetingSection">
        <h1>Finde deine Dienstleistung!</h1>
    </div>

    <main>
        @Body
    </main>
</div>
