@inject IJSRuntime jsRuntime
@inject HttpClient httpClient

<button class="button @(microphoneAnalyzing ? "analyzing" : "")" @onclick="async() => await StartAnalyzeMicrophoneAsync()">@(microphoneAnalyzing ? "🔉 wir sind am aufnehmen 🔉" : "Aufnahme starten 🔉")</button>

@code {
    public string result = string.Empty;
    public bool microphoneAnalyzing = false;
    AzureCognitiveServicesTokenDTO token;

    [Parameter]
    public EventCallback<(string result, string language)> MicrophoneAnalyzedEventCallback { get; set; }

    [Parameter]
    public EventCallback StartedAnalyzing { get; set; }

    protected override async Task OnInitializedAsync()
    {
        token = await httpClient.GetFromJsonAsync<AzureCognitiveServicesTokenDTO>("api/AzureSpeechAnalysis");
    }

    public async Task StartAnalyzeMicrophoneAsync()
    {
        microphoneAnalyzing = true;
        await StartedAnalyzing.InvokeAsync();
        await jsRuntime.InvokeVoidAsync("analyzeMicrophone", DotNetObjectReference.Create(this), "de-CH", token.Token);
        StateHasChanged();
    }

    [JSInvokable]
    public void MicrophoneAnalyzedCallback(string s, string li)
    {
        MicrophoneAnalyzedEventCallback.InvokeAsync(new(s.Substring("[object Object]".Count()), li));
        microphoneAnalyzing = false;
        StateHasChanged();
    }
}
