@page "/"

<h1>@token</h1>

<WebClient.Components.AnalyzeMicrophoneComponent MicrophoneAnalyzedEventCallback="(s) => token = s.result"></WebClient.Components.AnalyzeMicrophoneComponent>


@code{
    string token;
}